
@{
    ViewBag.Title = "Index";
}

<h2>About Us</h2>


<p>
    <strong>Store Locations</strong>
</p>

<p>
    Music Shop DBS, DBS Retail Centre, Dublin 22, E22 EA25
</p>

<p>
    Music Shop City Centre, 111 Exchequer Street, Dublin 2, D02 HX95
</p>

<p>
    <strong>Phone:</strong> 01 4111100 for both stores
</p>

<p>
    email: info@musicshop.ie
</p>

<p>
    Monday –Saturday 10am-6pm    |    12pm -5.pm on Sundays    |    Bank Holidays 12pm-5.pm
</p>
<br />

<div class="left">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2382.15184614485!2d-6.26768068431128!3d53.3405379799779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9de863ce97%3A0xd5fd5a41e4548a27!2sDublin+Business+School!5e0!3m2!1sen!2sie!4v1563905753311!5m2!1sen!2sie" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="right">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.9904035212567!2d-6.266798684311176!3d53.34342797997834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9d1c510333%3A0xb83b6bd102889677!2sDublin+Business+School+-+Georges+Street+Campus!5e0!3m2!1sen!2sie!4v1563906177418!5m2!1sen!2sie" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="clear"></div>
<br />


